{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a>
    </li>
</ul>

{% block content %}
{% endblock content %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Tentang Kami:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Student Site
                    </h6>
                    <p>
                        Universitas Gunadarma Student Site adalah aplikasi yang diperuntukan bagi mahasiswa Universitas Gunadarma.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Link Akses
                    </h6>
                    <p>
                        <a href="https://baak.gunadarma.ac.id/" class="text-reset">BAAK</a>
                    </p>
                    <p>
                        <a href="https://v-class.gunadarma.ac.id/" class="text-reset">V-Class</a>
                    </p>
                    <p>
                        <a href="https://praktikum.gunadarma.ac.id/" class="text-reset">Praktikum</a>
                    </p>
                    <p>
                        <a href="https://studentsite.gunadarma.ac.id/index.php/site/index" class="text-reset">UG Website</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Social Media
                    </h6>
                    <p>
                        <a href="https://www.instagram.com/gunadarma/" class="text-reset">Instagram</a>
                    </p>
                    <p>
                        <a href="https://x.com/gunadarma" class="text-reset">X</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">TikTok</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/dodooon_/" class="text-reset">Dodon</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Jl. Margonda Raya Pondok Cina, Depok</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        mediacenter@gunadarma.ac.id
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 62 (21) 78881112</p>
                    <p><i class="fas fa-print me-3"></i> 1500158</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
       
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>