<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Salman Alfarizi Taha</title>
	<link rel="icon" href="templates/pas_foto.jpeg">
</head>
<body>
    <div style="text-align: center;">
        <img src="templates/pas_foto.jpeg" width="150" height="150">
    </div>

    <h1 style="text-align: center;">Salman Alfarizi Taha</h1>
    <p style="text-align: center;">
        Cibinong, Bogor, West Java | 089513074195 | 
        <a href="mailto:salmanalfarizi@gmail.com">salmanalfarizi@gmail.com</a>
    </p>

    <hr>

    <h2>🔍 TENTANG SAYA</h2>
    <p>
        Saya Salman Alfarizi Taha, mahasiswa semester 5 jurusan Informatika di Universitas Gunadarma. 
        Saya memiliki minat yang kuat dalam pengembangan perangkat lunak dan pemrograman web, 
        dengan keterampilan dalam bahasa seperti Python, Golang, dan SQL. 
        Saya antusias belajar hal baru dan berkontribusi dalam tim untuk mencapai tujuan bersama.
    </p>

    <hr>

    <h2>🎓 PENDIDIKAN</h2>
    <ul>
        <li>
            <strong>Universitas Gunadarma</strong> (2022 – Saat ini)<br>
            Semester 5, Informatika<br>
            <em>IPK: 3.15</em>
        </li>
        <li>
            <strong>MAN 1 Bogor</strong> (2019 – 2022)<br>
            Jurusan IPA
        </li>
        
        <li>
            <strong>SMP Tunas Bangsa</strong> (2016 – 2019)<br>
        </li>

        <li>
            <strong>SDN Negri Karadenan</strong> (2010 – 2016)<br>
        </li>

    </ul>

    <hr>

    <h2>💼 PENGALAMAN</h2>
    <ul>
        <li>
            <strong>Laboratorium Informatika – Universitas Gunadarma</strong><br>
            <em>Asisten (2024 – Saat ini)</em>
            <ul>
                <li>Membantu pelaksanaan praktikum dengan memastikan perangkat dan materi siap digunakan.</li>
                <li>Membimbing dan membantu praktikan memahami konsep dasar selama praktikum.</li>
                <li>Menilai laporan aktivitas mingguan dan laporan akhir praktikan.</li>
                <li>Memfasilitasi praktikan yang mengalami kendala teknis atau teoritis.</li>
                <li>Berkoordinasi dengan dosen dan asisten lain demi kelancaran praktikum.</li>
            </ul>
        </li>
    </ul>

    <hr>

    <h2>📜 KURSUS</h2>
    <ul>
        <li>Fundamental DBMS – Lepkom Gunadarma (2023)</li>
        <li>Golang For Beginner – Lepkom Gunadarma (2024)</li>
        <li>Fundamental Course Software Engineering – RevoU (2024)</li>
    </ul>

    <hr>

    <h2>⚙️ KEMAMPUAN</h2>
    <ul>
        <li><strong>Kemampuan Teknis:</strong> Python, Golang, SQL, Postman, Java</li>
        <li><strong>Soft Skills:</strong> Komunikasi, Belajar dengan cepat, Adaptif, Kerjasama tim</li>
        <li><strong>Bahasa:</strong> Tingkat menengah dalam bahasa Inggris, Mahir berbahasa Indonesia</li>
    </ul>

    <hr>

    <footer style="text-align: center;">
        <p>Terima kasih</p>
    </footer>
</body>
</html>
