{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Beranda</title>
</head>
<body>

    <div>
        {% block content%}
        <div class="jumbotron">
            <h1 class="display-4">{{name}}</h1>
            <p class="lead">Aplikasi pengelolaan nilai mahasiswa.</p>
            <hr class="my-4">
            <p>Akses Student Site dengan login pada tombol dibawah</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
            </p>
          </div>
        {% endblock content%}    
    </div>
</body>
</html>
