{% extends "contact/base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>
<body>
  {% block content %}
  <div class="container">
      <form method="POST" action="{% url 'sendmassage' %}" style="width: 30rem;">
        {% csrf_token %}

          <!-- Name input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example1">Name</label>
            {{ form.nama }}
          </div>
        
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example1">Email</label>
            {{ form.email }}
          </div>
        
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form4Example1">Pesan</label>
            {{ form.pesan }}
          </div>
        
          <!-- Submit button -->
          <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Send</button>
      </form>
  </div>
  {% endblock content %}

</body>
</html>
